<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- this is our beans -->
	
	<!-- property with value -->
	<!-- <bean class="com.springcore.Student" name="student1">
		<property name="studentId">
			<value> 12345 </value>
		</property>
		<property name="studentName">
			<value> Jitendra</value>
		</property>
		<property name="studentAddress">
			<value> Lucknow </value>
		</property>
	</bean> -->
	
	       <!-- value as attribute -->
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId" value="1234" />
		<property name="studentName" value="Annop"/>
		<property name="studentAddress" value="Ayodhya" />
	</bean>
	
	       <!-- this is our second bean -->
	<!-- <bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="1234" />
		<property name="studentName" value="Annop"/>
		<property name="studentAddress" value="Ayodhya" />
	</bean> -->
	
	        <!-- value as p schema -->
	<bean class="com.springcore.Student" name="student3" p:studentId="4563" p:studentName="chandan"
	              p:studentAddress="Kanpur"></bean>
	        
</beans>






